@import "../../responsive.scss";
.search-bar {
  .type {
    button {
      padding: 16px 36px;
      border: 1px solid gray;

      background-color: white;
      cursor: pointer;
      border-bottom: none;

      &.active {
        background-color: black;
        color: white;
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-right: none;
      }
      &:last-child {
        border-top-right-radius: 5px;
        border-left: none;
      }
    }
  }

  form {
    border: 1px solid #999;
    display: flex;
    justify-content: space-between;
    height: 64px;
    gap: 5px;

    @include sm {
      flex-direction: column;
      gap: 10px;
      border: none;
    }

    input {
      border: none;
      padding: 0 10px;
      width: 150px;
      flex: 2;
      outline: none;
      @include lg {
        padding: 0 5px;
        &:nth-child(2),
        &:nth-child(3) {
          width: 100px;
        }
      }

      @include md {
        width: auto;
        &:nth-child(2),
        &:nth-child(3) {
          width: auto;
        }
      }

      @include sm {
        padding: 20px;
        border: 1px solid #999;
      }
    }
    button {
      border: none;
      cursor: pointer;
      background-color: #fece51;
      flex: 1;
      img {
        height: 24px;
        width: 24px;
      }

      @include sm {
        padding: 10px;
      }
    }
  }
}
